body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  overflow:hidden;
}
#u2229_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:url('../../images/模板演示/u2_state0.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:960px 960px;
}
#u2229_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:100px;
  width:1100px;
  height:2px;
  overflow:hidden;
}
#u2230_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u2230_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:100px;
}
#u2232 {
  position:absolute;
  left:89px;
  top:0px;
  width:368px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:36px;
  width:364px;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2234 {
  position:absolute;
  left:20px;
  top:17px;
  width:60px;
  height:60px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:100px;
}
#u2236 {
  position:absolute;
  left:676px;
  top:0px;
  width:424px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u2237 {
  position:absolute;
  left:2px;
  top:32px;
  width:402px;
  word-wrap:break-word;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u2238 {
  position:absolute;
  left:0px;
  top:130px;
  width:1100px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u2239 {
  position:absolute;
  left:20px;
  top:12px;
  width:1078px;
  word-wrap:break-word;
}
#u2240 {
  position:absolute;
  left:46px;
  top:304px;
  width:250px;
  height:30px;
}
#u2240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2241 {
  position:absolute;
  left:46px;
  top:344px;
  width:250px;
  height:30px;
}
#u2241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2241_input:disabled {
  color:grayText;
}
#u2242 {
  position:absolute;
  left:46px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2243 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2242_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2244 {
  position:absolute;
  left:46px;
  top:441px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2245 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2244_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2246 {
  position:absolute;
  left:382px;
  top:304px;
  width:245px;
  height:170px;
}
#u2246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2247 {
  position:absolute;
  left:680px;
  top:304px;
  width:372px;
  height:170px;
}
#u2247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2248 {
  position:absolute;
  left:136px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2249 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2248_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2250 {
  position:absolute;
  left:226px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2251 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2250_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2252 {
  position:absolute;
  left:136px;
  top:441px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2253 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2252_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2254 {
  position:absolute;
  left:226px;
  top:441px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2255 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2254_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u2256 {
  position:absolute;
  left:20px;
  top:230px;
  width:530px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u2258 {
  position:absolute;
  left:43px;
  top:583px;
  width:210px;
  height:170px;
}
#u2258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2259 {
  position:absolute;
  left:295px;
  top:583px;
  width:210px;
  height:170px;
}
#u2259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2260 {
  position:absolute;
  left:602px;
  top:583px;
  width:170px;
  height:170px;
}
#u2260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2261 {
  position:absolute;
  left:870px;
  top:583px;
  width:182px;
  height:170px;
}
#u2261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2262 {
  position:absolute;
  left:790px;
  top:627px;
  width:60px;
  height:25px;
}
#u2262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u2263 {
  position:absolute;
  left:790px;
  top:662px;
  width:60px;
  height:25px;
}
#u2263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:50px;
}
#u2264 {
  position:absolute;
  left:20px;
  top:787px;
  width:1060px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:11px;
  width:1056px;
  word-wrap:break-word;
}
#u2266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u2266 {
  position:absolute;
  left:20px;
  top:507px;
  width:530px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u2267 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u2268 {
  position:absolute;
  left:550px;
  top:508px;
  width:530px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u2269 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:240px;
}
#u2270 {
  position:absolute;
  left:46px;
  top:853px;
  width:100px;
  height:240px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u2270_img.selected {
}
#u2270.selected {
}
#u2271 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2272 {
  position:absolute;
  left:156px;
  top:862px;
  width:250px;
  height:30px;
}
#u2272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2273 {
  position:absolute;
  left:156px;
  top:902px;
  width:250px;
  height:30px;
}
#u2273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2274 {
  position:absolute;
  left:156px;
  top:942px;
  width:250px;
  height:30px;
}
#u2274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2275 {
  position:absolute;
  left:156px;
  top:982px;
  width:250px;
  height:30px;
}
#u2275_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2276 {
  position:absolute;
  left:156px;
  top:1022px;
  width:250px;
  height:30px;
}
#u2276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2277 {
  position:absolute;
  left:156px;
  top:1075px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2277_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2277.mouseOver {
  opacity:0.8;
}
#u2277_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2277.mouseDown {
  opacity:1;
}
#u2278 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:240px;
}
#u2279 {
  position:absolute;
  left:602px;
  top:853px;
  width:100px;
  height:240px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u2279_img.selected {
}
#u2279.selected {
}
#u2280 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2281 {
  position:absolute;
  left:712px;
  top:862px;
  width:250px;
  height:30px;
}
#u2281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2282 {
  position:absolute;
  left:712px;
  top:1075px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2282_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2282.mouseOver {
  opacity:0.8;
}
#u2282_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u2282.mouseDown {
  opacity:1;
}
#u2283 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u2284 {
  position:absolute;
  left:712px;
  top:1029px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2285 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2284_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2286 {
  position:absolute;
  left:802px;
  top:1029px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2287 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2286_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2288 {
  position:absolute;
  left:892px;
  top:1029px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2289 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2288_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2290 {
  position:absolute;
  left:712px;
  top:902px;
  width:250px;
  height:30px;
}
#u2290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2290_input:disabled {
  color:grayText;
}
#u2291 {
  position:absolute;
  left:712px;
  top:990px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2292 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2291_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2293 {
  position:absolute;
  left:770px;
  top:990px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2294 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2293_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2295 {
  position:absolute;
  left:826px;
  top:990px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2296 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u2295_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2297 {
  position:absolute;
  left:712px;
  top:942px;
  width:108px;
  height:25px;
}
#u2297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u2298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:27px;
}
#u2298 {
  position:absolute;
  left:830px;
  top:940px;
  width:178px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u2299 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u2300 {
  position:absolute;
  left:882px;
  top:990px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2301 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u2300_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:1165px;
  width:1100px;
  height:100px;
  overflow:hidden;
}
#u2304_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u2304_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
}
#u2305 {
  position:absolute;
  left:89px;
  top:1197px;
  width:225px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:61px;
}
#u2308 {
  position:absolute;
  left:20px;
  top:1184px;
  width:57px;
  height:61px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:22px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:42px;
}
#u2310 {
  position:absolute;
  left:759px;
  top:1194px;
  width:139px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:44px;
}
#u2312 {
  position:absolute;
  left:951px;
  top:1193px;
  width:129px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2314 {
  position:absolute;
  left:707px;
  top:1197px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2315 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2316 {
  position:absolute;
  left:905px;
  top:1197px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2317 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
