body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:991px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u20010 {
  position:absolute;
  left:180px;
  top:70px;
  width:920px;
  height:991px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u20011 {
  position:absolute;
  left:20px;
  top:488px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:991px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u20013 {
  position:absolute;
  left:0px;
  top:70px;
  width:181px;
  height:991px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u20014 {
  position:absolute;
  left:20px;
  top:488px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u20015 {
  position:absolute;
  left:1px;
  top:120px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20015_img.selected {
}
#u20015.selected {
}
#u20016 {
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u20017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u20017 {
  position:absolute;
  left:1px;
  top:429px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20017_img.selected {
}
#u20017.selected {
}
#u20018 {
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u20019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u20019 {
  position:absolute;
  left:0px;
  top:734px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20019_img.selected {
}
#u20019.selected {
}
#u20020 {
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u20021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20023 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u20023_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u20023_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20024 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u20024_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u20024_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20025 {
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20025_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20025.selected {
}
#u20026 {
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u20028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u20028 {
  position:absolute;
  left:0px;
  top:1062px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u20029 {
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u20032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u20032 {
  position:absolute;
  left:400px;
  top:961px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u20032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u20032.mouseOver {
  opacity:0.8;
}
#u20032_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u20032.mouseDown {
  opacity:1;
}
#u20033 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u20034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20034 {
  position:absolute;
  left:248px;
  top:130px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20034_img.selected {
}
#u20034.selected {
}
#u20035 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20037 {
  position:absolute;
  left:400px;
  top:129px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20038 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20039 {
  position:absolute;
  left:580px;
  top:129px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20040 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20041 {
  position:absolute;
  left:248px;
  top:885px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20041_img.selected {
}
#u20041.selected {
}
#u20042 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u20043 {
  position:absolute;
  left:400px;
  top:893px;
  width:53px;
  height:25px;
}
#u20044 {
  position:absolute;
  left:10px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u20045 {
  position:absolute;
  left:630px;
  top:130px;
  width:90px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20045_img.selected {
}
#u20045.selected {
}
#u20046 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u20047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20048 {
  position:absolute;
  left:720px;
  top:129px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20049 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20050 {
  position:absolute;
  left:900px;
  top:129px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20051 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20052 {
  position:absolute;
  left:248px;
  top:180px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20052_img.selected {
}
#u20052.selected {
}
#u20053 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20055 {
  position:absolute;
  left:400px;
  top:179px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20056 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20057 {
  position:absolute;
  left:580px;
  top:179px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20058 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20059 {
  position:absolute;
  left:620px;
  top:180px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20059_img.selected {
}
#u20059.selected {
}
#u20060 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20061 {
  position:absolute;
  left:248px;
  top:230px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20061_img.selected {
}
#u20061.selected {
}
#u20062 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20064 {
  position:absolute;
  left:400px;
  top:229px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20065 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20066 {
  position:absolute;
  left:580px;
  top:229px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20067 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20068 {
  position:absolute;
  left:620px;
  top:230px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20068_img.selected {
}
#u20068.selected {
}
#u20069 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20070 {
  position:absolute;
  left:248px;
  top:280px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20070_img.selected {
}
#u20070.selected {
}
#u20071 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20073 {
  position:absolute;
  left:400px;
  top:279px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20074 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20075 {
  position:absolute;
  left:580px;
  top:279px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20076 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20077 {
  position:absolute;
  left:620px;
  top:280px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20077_img.selected {
}
#u20077.selected {
}
#u20078 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20079 {
  position:absolute;
  left:248px;
  top:330px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20079_img.selected {
}
#u20079.selected {
}
#u20080 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20082 {
  position:absolute;
  left:400px;
  top:329px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20083 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20084 {
  position:absolute;
  left:580px;
  top:329px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20085 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20086 {
  position:absolute;
  left:620px;
  top:330px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20086_img.selected {
}
#u20086.selected {
}
#u20087 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20088 {
  position:absolute;
  left:248px;
  top:431px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20088_img.selected {
}
#u20088.selected {
}
#u20089 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20091 {
  position:absolute;
  left:400px;
  top:430px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20092 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20093 {
  position:absolute;
  left:580px;
  top:430px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20094 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u20095 {
  position:absolute;
  left:630px;
  top:431px;
  width:90px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20095_img.selected {
}
#u20095.selected {
}
#u20096 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u20097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20098 {
  position:absolute;
  left:720px;
  top:430px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20099 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20100 {
  position:absolute;
  left:900px;
  top:430px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20101 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20102 {
  position:absolute;
  left:248px;
  top:481px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20102_img.selected {
}
#u20102.selected {
}
#u20103 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20105 {
  position:absolute;
  left:400px;
  top:480px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20106 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20107 {
  position:absolute;
  left:580px;
  top:480px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20108 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20109 {
  position:absolute;
  left:620px;
  top:481px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20109_img.selected {
}
#u20109.selected {
}
#u20110 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20111 {
  position:absolute;
  left:248px;
  top:531px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20111_img.selected {
}
#u20111.selected {
}
#u20112 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20114 {
  position:absolute;
  left:400px;
  top:530px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20115 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20116 {
  position:absolute;
  left:580px;
  top:530px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20117 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20118 {
  position:absolute;
  left:620px;
  top:531px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20118_img.selected {
}
#u20118.selected {
}
#u20119 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20120 {
  position:absolute;
  left:248px;
  top:581px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20120_img.selected {
}
#u20120.selected {
}
#u20121 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20123 {
  position:absolute;
  left:400px;
  top:580px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20124 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20125 {
  position:absolute;
  left:580px;
  top:580px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20126 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20127 {
  position:absolute;
  left:620px;
  top:581px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20127_img.selected {
}
#u20127.selected {
}
#u20128 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20129 {
  position:absolute;
  left:248px;
  top:631px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20129_img.selected {
}
#u20129.selected {
}
#u20130 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20132 {
  position:absolute;
  left:400px;
  top:630px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20133 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20134 {
  position:absolute;
  left:580px;
  top:630px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20135 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20136 {
  position:absolute;
  left:620px;
  top:631px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20136_img.selected {
}
#u20136.selected {
}
#u20137 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u20138 {
  position:absolute;
  left:249px;
  top:735px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20138_img.selected {
}
#u20138.selected {
}
#u20139 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20141 {
  position:absolute;
  left:401px;
  top:734px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20142 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20143 {
  position:absolute;
  left:581px;
  top:734px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20144 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u20145 {
  position:absolute;
  left:621px;
  top:735px;
  width:189px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u20145_img.selected {
}
#u20145.selected {
}
#u20146 {
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u20147 {
  position:absolute;
  left:210px;
  top:785px;
  width:191px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20147_img.selected {
}
#u20147.selected {
}
#u20148 {
  position:absolute;
  left:2px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u20149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20150 {
  position:absolute;
  left:401px;
  top:784px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20151 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20152 {
  position:absolute;
  left:581px;
  top:784px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u20153 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u20154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u20154 {
  position:absolute;
  left:209px;
  top:835px;
  width:191px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u20154_img.selected {
}
#u20154.selected {
}
#u20155 {
  position:absolute;
  left:2px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u20156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20156 {
  position:absolute;
  left:400px;
  top:834px;
  width:221px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u20157 {
  position:absolute;
  left:12px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
